:root {
  --primary : var(--primary-light);
  --primary-op : var(--primary-op-light);
  --secondary : var(--secondary-light);
  --color-grad-1 : var(--color-grad-1-light);
  --color-grad-2 : var(--color-grad-2-light);
  --background-hover: var(--background-hover-light);
  
  --primary-dark : #ffffff;
  --primary-op-dark : var(--primary-light);
  --secondary-dark: #5e17Ee;
  --color-grad-1-dark : #000000;
  --color-grad-2-dark : #3533cd;
  --background-hover-dark : rgba(0, 0, 0, 0.3);
  
  --primary-light : #000000;
  --primary-op-light : var(--primary-dark);
  --secondary-light : #c2e9fb;
  --color-grad-1-light : #fdfcfb;
  --color-grad-2-light : #e2d1c3;
  --background-hover-light : rgba(255, 255, 255, 0.5);
  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background : linear-gradient(90deg, var(--color-grad-1) 0%, var(--color-grad-2) 100%);
  
  color: var(--primary);
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

svg {
  width: 50px;
  height: 50px;
}

body {
  width: calc(90% - 20px);
  display: flex;
  flex-wrap: wrap;
  margin: calc(5% + 10px);
}

header {
  width: 100%;
}

section {
  min-width: 350px;
  width: calc(100% - 20px);
  margin: 10px;
}

li {
  margin-bottom: 15px;
}

.top-wave { 
  width: 100%;
  height: 700px;
  margin: 0px;
  z-index: 3;
}

.top-wave div {
  position: static;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

.top-wave div div{
  width: 30vw;
  flex-direction: column;
  
}

.top-wave div div h1{
  font-size: 50px;
  margin: 0px;
}

.top-wave div div h3{
  font-size: 30px;
  font-style: normal;
}


.top-wave div img {
  max-width: 50%;
  margin-top: 150px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  
}

#top {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#top div {
  width: 100%;
  height: 50px;
  background-color: var(--secondary); 
}

#top div a {
  width: fit-content;
  height: 100%;
}

#top div a:hover {
  cursor: pointer;
}

#coordonnees ul li p {
  margin-left: 10px;
}

#coordonnees ul li a {
  color: var(--primary);
  text-decoration: none;
  margin-left: 15px;
}

#coordonnees ul li a:hover {
  text-decoration: underline;
}

#coordonnees ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#coordonnees {
  width: calc(50% - 20px);
  margin: 10px;
  font-size: 20px;
}

#specialisations {
  width: calc(50% - 20px);
  margin: 10px;
  font-size: 20px;
}

.rich-section ul{
  display: flex;
  overflow-x: scroll;
  overflow-y: clip;
  padding-bottom: 10px;
}

.rich-section li{
  list-style: none;
  width: 450px;
  margin: 10px;
  margin-bottom: 15px;
}

.rich-section .section-content ul{
  display: block;
  padding: 0px;
}

.rich-section .section-content ul li{
  list-style: inside;
  margin: 0px;
  width: 100%;
  margin-bottom: 15px;
}

.rich-section section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.linked-section {
  transition: all .3s ease-in-out;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.linked-section a{
  transition: all .3s ease-in-out;
  font-size: 20px;
  opacity: 0;
  margin-bottom: 5px;
}

.linked-section:hover a{
  transition: all .3s ease-in-out;
  opacity: 1;
}

.linked-section:hover {
  transition: all .3s ease-in-out;
  background: var(--background-hover);
}

.linked-section div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  font-style: italic;
  font-weight: 100;
}
